<plugin name='wtools' version='0.1' grailsVersion='2.2 &gt; *'>
  <author>Jaeuk Jung</author>
  <authorEmail>jaeuk012@hanmail.net</authorEmail>
  <title>Wtools Plugin</title>
  <description>Ask to be excused. I have poor english...T.T, 
You check correct wrong text...plz... 
Thank you.


This plugin is auto refresh for browser.
1. Gsp page insert tag &lt;wtools:refresh this="${this}" /&gt; at header section.
2. open web browser gsp page ex) Editing 'book/list.gsp', open 'http://localhost:8080/test/book/list'
3. After gsp page editing and saving... play coding~~~


This plugin required jQuery javascript library.
Attribute 'timeout' is assured gsp page compile time.
	gsp page compile time by tomcat(stand by timeout msec...) -&gt; page reload 

1. 'Config.groovy' file setting 
	wtools.timeout = 1000
2. attribute 
	&lt;wtools:refresh this="${this}" timeout="1000" /&gt;
3. default
	500 msec
</description>
  <documentation>http://grails.org/plugin/wtools</documentation>
  <type>WtoolsGrailsPlugin</type>
  <resources>
    <resource>kr.co.softutils.wtools.WtoolsController</resource>
    <resource>kr.co.softutils.wtools.WtoolsTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>